body{
    margin: 2em 2em;
}

#face{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8vw;
}

#line{
    border: none;
    height: 0.2em;
    color: #7d97ad;
    background-color: #7d97ad;
    margin-bottom: 1.2em;
}

#name{
    font-size: 4vw;
    color: #2d3c49;
}

#title{
    font-size: 1.5vw;
    color: #2d3c49;
}

#who{
    color: #2d3c49;
}

#featured{
    color: darkgrey;
    padding-left: 0.5em;
    margin-bottom: 0.3em;
}

#main-img{
    margin-bottom: 1.5em;
    width: 100%;
}

#app{
    max-height: 20vh;
}


/* the code for the hover effect */
.tseenee {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 10vh;
  left: 20vh;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tseenee:hover .image {
  opacity: 0.3;
}

.tseenee:hover .middle {
  opacity: 1;
}

.text {
  background-color: darkslategrey;
  color: white;
  font-size: 0.7vw;
  padding: 1em 2em;
}

.section1{
    
}

.section2{
    
}