.face{
    padding: 1.5%;
    
}

.occupation{
    padding-top: 1.5%;
    text-align: right;
}

.name{
    font-size: 4em;
}

.title{
    font-size: 1.5em;
}

@media (max-width: 990px){
    .face{
        padding-top: 5%;
        text-align: center;
    }
    .name{
        font-size: 3em;
        text-align: center;
    }
    .title{
        text-align: center;
    }
    .occupation{
        text-align: center;
    }
}

@media (max-width: 412px){
    .face{
        text-align: center;
    }
/*
    .faceimg{
        width: 90%;
    }
*/
    .name{
        font-size: 2em;
        text-align: center;
    }
    .title{
        font-size: 1em;
        text-align: center;
    }
}

